@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@keyframes walkstep {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-walkstep {
  animation: walkstep 0.6s ease-out forwards;
}

.vertical-timeline::after {
  background: none !important;
}